.heading {
  padding-top: 20px;
  margin-left: 50px;
  font-size: 40px;
  color: white;
}

body {
  background-color: #2C3333;
  height: 100vh;
  color: white;
}

img {
  border-radius: 6%;

}
.card {
  border-radius: 6%;
}
.card-body {
  color: black;
}
.eventCard {
  background-color: #E7F6F2;
}

